body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container { 
    width: 80%;
    margin: 0 auto;
    height: 50vh;
    overflow: hidden;
    position: relative;
}

.slider {
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
}

.slider__content-container {
    padding: 0;
    margin: 0 ;
    overflow: hidden;
}

.slide {
    position: absolute;
    inset: 0;
    list-style: none;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
}

.slide[data-active] {
    opacity: 1;
}

.slide__content {
    width: 100%;
    object-fit: cover;
    height: 100%;
    display: block;
    margin: 0;
    object-position: center;
}

.slider__button {
    position: absolute;
    font-size: 3rem;
    background: none;
    color: lightgrey;
    top: calc(50% - 1.5rem);
    border: none; 
    padding: 0 .5rem;
    background-color: rgba(0, 0, 0, .1);
    z-index: 10;
}

.slider__button:hover {
    color: darkgrey;
    cursor: pointer;
}


.next {
    right: 1rem;
}

.prev {
    left: 1rem;
}



